<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="banner_di" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      {% if site.buttons %}
        <a href="https://ditmarhalla.github.io/blog.html" class="button">Blog</a>
        <a href="https://ditmarhalla.github.io/cv.html" class="button">CV</a>
      {% endif %}
      
      
    <style>
     .button {
      background-color:white;
      border-color:black;
      color:black;
      }
    </style>
    
    <style>
    .banner_di 
   {
    width: 100%;
    padding:60px 0;
    text-align: center;
    background-image:
    url(https://raw.githubusercontent.com/ditmarhalla/ditmarhalla.github.io/gh-pages/baner.png);
  }
</style>
      
      
    </header>
    
    


    <main id="content" class="main-content" role="main">
      {{ content }}

    </main>
  </body>
</html>
